.main-section {
  padding: 2rem;
}

p {
  color: rgb(103 102 102);
  font-weight: 600;
}
h1 {
  font-weight: 600;
  font-size: 3rem;
  color: black;
}


.heading {
  font-weight: 600;
  font-size: 3rem;
  color: black;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: 600;
}

.section2 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.section3 {
  display: grid;
  grid-template-columns: 350px 350px 1fr;

  gap: 0.5rem;
}

.grid1 {
  background: url("/src/assets/img3.jpg") no-repeat;
  height: 400px;
  background-size: cover;
  padding: 1.2rem;
  position: relative;
  background-position: center center;
}

.grid-number {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 30px;
  padding: 2px 15px;
}

.avatar {
  position: absolute;
  bottom: 35px;
  display: flex;
  flex-direction: column;
}

h3 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.grid1-btn {
  font-size: 15px;
  border-radius: 30px;
  padding: 10px 0;
  border: 1px solid white;
  margin-top: 10px;
  color: white;
  background-color: rgb(166 166 166 / 42%);
}

svg.gird1-icon {
  font-size: 23px;
  bottom: 9px;
  right: 25px;
  color: white;
  position: absolute;
}

img {
  width: 40px;
}

h3 {
  padding: 0.7rem 0;
}

.grid2 {
  background: url("/src/assets/img8.jpg") no-repeat;
  height: 400px;
  background-size: cover;
  background-position: center center;
  padding: 1.2rem;
  position: relative;
}

.row2 {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}

.grid2-row {
  color: white;
  border-bottom: 1px solid rgba(230, 230, 230, 0.697);
  width: 20vw;
  padding: 0.5rem 0;
  position: relative;
}

.grid2-icon {
  position: absolute;

  font-size: 23px;

  right: 0;
  color: white;
}

hr {
  margin: 10px 0;
  width: 310px;
  color: grey;
}

.grid3 {
  background: url("/src/assets/img1.jpg") no-repeat;
  height: 400px;
  background-size: cover;

  padding: 1.2rem;
  position: relative;
}

.row3 {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.grid3-heading {
  color: white;
  font-size: 75px;
  font-weight: 500;
}

.grid3-para {
  color: white;
  font-size: 15px;
}

@media only screen and (max-width: 1219px) {
  .grid3-heading {
    font-size: 45px;
  }

  .grid3-para {
    font-size: 12px;
  }

  .grid2-row {
    width: 300px;
  }
}

@media only screen and (max-width: 1069px) {
  .section3 {
    display: block;
  }

  .grid2-row {
    width: 95vw;
  }
}

@media only screen and (max-width: 710px) {
  h1 {
    font-size: 1.7rem;
  }
  .heading {
    font-size: 1.7rem;
  }

  button {
    padding: 10px 20px;

    font-size: 0.5rem;
  }
  p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 592px) {
  .grid2-row {
    width: 90vw;
  }
}

@media only screen and (max-width: 490px) {
  .section2 {
    display: block;
  }
  h1 {
    font-size: 1.5rem;
  }
  .heading {
    font-size: 1.7rem;
  }

  p {
    font-size: 10px;
    margin: 6px 0;
  }
}
